kind: source
name: {{ name }}
description: "{{ description | default('source node') }}"
owner: "{{ owner | default('team@example.com') }}"
tags: {{ tags | default(['source']) | tojson }}
source: {{ source_type | default('csv') }}
table: "{{ table_name | default('data/' + name + '.csv') }}"
